@font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ZonaProRegular';
    font-style: normal;
    src: url(/fonts/ZonaPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ZonaProSemibold';
    font-style: normal;
    src: url(/fonts/ZonaPro-SemiBold.ttf) format('truetype');
}


.row{
    font-family: RobotoRegular, Helvetica;
}

.orange{
    position: absolute;
    /*top: -25px;
    left: -25px;*/
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}


.revo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -218px;
    margin-top: -55px;
    width: 437px;
    height: 110px;
}

.revo-icon{
    position: fixed;
    top: -70px;
    right: -80px;
    width: 150px;
}

.page_break{
    page-break-before: always;
}

.revo-erre{
    position: fixed;
    top: 10px;
    right: -160px;
    width: 750px;
    font-family: 'ZonaProRegular', Helvetica;
}

.revo-bg{
    position: absolute;
    width: 120%;
    height: 120%;
    left: -80px;
    right: -80px;
    top: -80px;
    bottom: -120px;
}

.revo-bg.xef{
    background: url("/images/revo-bg-xef.jpg");
}

.revo-bg.retail{
    background: url("/images/revo-bg-retail.jpg");
}

.revo-bg.end{
    background-color: #3c3431;
}

.orange-hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.revo-logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 265px;
    height: 39px;
}

.revo-logo.retail{
    width: 350px;
}

.title{
    font-size: 20px;
    font-family: ZonaProRegular, Helvetica;
    text-transform: uppercase;
    color: #f16439;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    text-align: left;
}

.client-name.title{
    text-transform: none;

}

.title.absolute{
    position: absolute;
    text-align: right;
}

.trade-name{
    top: 40px;
    right: 0;
    font-size: 30px;
    color: #7f7f7f;
    font-family: ZonaProSemibold, Helvetica;
}

.client-name{
    top: 80px;
    right: 0;
    display: none;
}

.profile{
    top: 0;
    right: 80px;
}


.profile-table tr th:first-child,
.profile-table tr td:first-child{
    font-family: 'ZonaProRegular', Helvetica;
    color: #f16439;
    width: 200px!important;
}

.specs-table tr th:first-child,
.specs-table tr td:first-child{
    font-family: 'ZonaProRegular', Helvetica;
    color: #f16439;
    width: 400px!important;
}

.table th{
    font-weight: normal;
    text-align: left;
}

.table td{
    font-size: 16px;
    padding-bottom: 5px;
    vertical-align: top;
    font-family: RobotoRegular, Helvetica;
}

.table th, .table tr, .table td{
    border: none!important;
}

.divider{
    margin-bottom: 130px;
}

.arguments{
    page-break-inside: avoid;
    font-size: 16px;
}

#hardware div{
    font-size: 16px;
}

.product{
    margin-top: 25px;
    margin-bottom: 10px;
    display: block;
    color: #f16439;
}

.hardware .row{
    page-break-inside: avoid;
    font-size: 16px;
}

.hardware img{
    width: 200px;
}