.main-footer {
  height: $main-footer-height;

  .copyright {
    color: $main-footer-copyright-color;
  }

  @include media-breakpoint-down(sm) {
    display: block !important;
    height: auto;

    .nav {
      width: 100%;
      display: block;
      border-bottom: 1px solid $border-color;
      padding-bottom: $spacer / 2;
    }

    .copyright {
      display: inline-block;
      width: 100%;
      padding: 1rem;
      text-align: center;

      >a{
        line-height: inherit;
      }
    }
  }
}


.main-footer,
.main-footer a{
  font-family: inherit;
  text-decoration: none;
}
.main-footer a{
  color: #818EA3;
  transition: all 0.2s ease-in-out;
  line-height: $main-footer-height;
  padding-top: 0;
  padding-bottom: 0;


  &:hover{
    color: darken(#818EA3, 40%);
  }
}
