html {
  font-size: 16px;
  font-weight: 500;

  // Ajust per a alta densitat.  Retina > 2
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
    font-size: 16px;
    font-weight: 400;
  }
}

body {
  background: $body-background;
  font-size: 15px;
  //font-weight: 500;

  // Ajust per a dispositius retina
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    font-size: 13px;
    font-weight: 400;
  }
}

a {
  color: $accent-color;

  @include hover {
    color: darken($accent-color, 20%);
  }
}

.overflow {
  &-hidden { overflow: hidden; }
  &-visible { overflow: visible; }
  &-scroll { overflow: scroll; }
  &-auto { overflow: auto; }
}

.no-shadow {
  box-shadow: none !important;
}

label {
  font-weight: 400;
}


.main-footer ul.nav{
}

.main-footer{
  height: inherit!important;
}
.main-footer,
.main-footer a{
  font-family: inherit;
  font-size: 0.8rem;
}
.main-footer a{
  color: #818EA3;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 2rem 0.5rem 0rem;

  &:hover{
    color: darken(#818EA3, 40%);
  }
}

.main-footer .copyright{
  padding: 0.5rem 0rem 0.5rem 2rem;

  > a{
    text-decoration: none;
  }
}

.badge-accent{
  background-color: $accent-bg;
}