html {
  font-size: 16px;
  font-weight: 500;

  // Ajust per a alta densitat.  Retina > 2
  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
    font-size: 16px;
    font-weight: 400;
  }
}

body {
  background: $body-background;
  font-size: 15px;
  //font-weight: 500;

  // Ajust per a dispositius retina
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    font-size: 13px;
    font-weight: 400;
  }
}

a {
  color: $accent-color;

  @include hover {
    color: darken($accent-color, 20%);
  }
}

.overflow {
  &-hidden { overflow: hidden; }
  &-visible { overflow: visible; }
  &-scroll { overflow: scroll; }
  &-auto { overflow: auto; }
}

.no-shadow {
  box-shadow: none !important;
}

label {
  font-weight: 400;
}


.badge-accent{
  background-color: $accent-bg;
}

.thrust-trend-metric {
  padding: 20px;
}

.date{
  color: #666;
  font-style: italic;
}

.description .badge{
  font-size: 15px;
  font-weight: normal;
}